#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --with python3

override_dh_auto_configure:

override_dh_auto_build:
	MACOBLOX_BUILD_DIR="$(CURDIR)/debian/native-build" ./build_debug_shim.sh

override_dh_auto_install:
	bash debian/install-payload.sh "$(CURDIR)" "$(CURDIR)/debian/native-build" "$(CURDIR)/debian/macoblox" /usr/lib

override_dh_auto_test:

override_dh_strip:
	dh_strip -X.dylib -X.framework

override_dh_python3:
	dh_python3 /usr/share/macoblox/launcher

override_dh_auto_clean:
	rm -rf debian/native-build
